/*
 * Forms
 */

#create-event-form {
  color: black;
  text-shadow: none;

}
#create-event-form .form-group {
  text-align: left;
}
.LDI-event-form {
  color: black;
  text-shadow: none;
  text-align: center;
}
.LDI-dialog-box {
  text-align: left;
  background-color: #333;
  color: #fff;
}
.LDI-submit-button {
  text-align: center;
}

/*
 * Event Panel
 */
/*.event-panel {
  background-color: #555;
}*/
/* Dialog Box */
#dialog-box-body {
  background-color: #333;
  color: #fff;
}
#dialog-box-header {
  background-color: #fff;
  color: #333;
}

/* Text Box */
#text-box {
  color: #333;
}

/* Event Box in the Panel */
/*.event-box {
  border: 1px solid #222;
  background-color:  black;
  text-align: left;
  margin: 10px;
  padding: 10px;
}*/



/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1005;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}

#ui-menu-item {
  z-index: 
}

.ui-autocomplete { position: absolute; cursor: default;z-index:10030 !important;}  

.ui-front {
      z-index: 1000;
  }

.inline-button {
  display:inline-block;

}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.bs-example {
  margin: 20px;
}

.btn-right {
  float:right;
}

.center-header {
  float:none;
  position: fixed;
}

.upfeathers-thumbnail {
  background-image: url(/media/images/upfeathers.png);
}

.wood-thumbnail {
  background-image: url(/media/images/retina_wood.png);
}

.xv-thumbnail {
  background-image: url(/media/images/xv.png);
}

.paisley-thumbnail {
  background-image: url(/media/images/paisley.png);
}

.symphony-thumbnail {
  background-image: url(/media/images/symphony.png);
}

.swirl-thumbnail {
  background-image: url(/media/images/swirl_pattern.png);
}

.fixed-height {
  height: 210px;
  overflow: auto;
  /*position: relative;*/
}

#event-thumbnail {
  position: absolute;
  margin: 0 auto;
  width: 95%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/media/images/event-view.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#group-thumbnail {
  position: absolute;
  margin: 0 auto;
  width: 95%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/media/images/group-view.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#profile-thumbnail {
  position: absolute;
  margin: 0 auto;
  width: 95%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/media/images/profile-view.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.filler {
  height:200px;
  width: 95%;
}