{% extends "prototypeApp/collection.html" %}

<!-- Need objects and numCol in context -->
{% block collection-title %}
  <h2> {{ event_type }} </h2>

    {% if sortByRelevance %}
    <a class="btn btn-primary btn-sm btn-responsive btn-right" href = "{% url 'prototypeApp:indexByTime' %}">Sort by time</a>
    <a class="btn btn-primary btn-sm btn-responsive btn-right" href = "{% url 'prototypeApp:index' %}" disabled="disabled">Sorted by relevance</a>
    
    {% else %}
    <a class="btn btn-primary btn-sm btn-responsive btn-right" href = "{% url 'prototypeApp:indexByTime'%}" disabled="disabled"> Sorted by time </a>
    <a class="btn btn-primary btn-sm btn-responsive btn-right" href = "{% url 'prototypeApp:index' %}">Sort by relevance</a>    
    {% endif %}
    
    
  
{% endblock collection-title %}
{% block display %}
<p>
<div class="col-md-4 col-sm-4" href="{% url 'prototypeApp:event' object.event.id %}">
  <div class="thumbnail">
    <h3>
      {{object.event.name}}
    </h3>
    <p>
      

      {{object.formattedTime}}
      <p>
      <b><font color="green"> {{object.friends_in_event}} </b></font> friends attending 
      | <b><font color="green"> {{object.friends_invited}} </b></font> friends invited
    </p>              
    <p>
      <a class="btn btn-primary btn-responsive" href="{% url 'prototypeApp:event' object.event.id %}"> {{ message }}</a>              
    </p>
  </div>
</div>
{% endblock display %}
{% block otherwise %}
  <p> No events are available </p>
{% endblock otherwise %}