<!-- Need objects and numCol in context -->
{% extends "prototypeApp/collection.html" %}

{% block collection-title %}
<h2>Friends</h2>
{% endblock collection-title %}
{% block display %}
<div class="col-md-3 col-sm-3 hero-feature">
  <div class="thumbnail symphony-thumbnail itembox">

              {% if object.profilePicture.imagefile %}
              <img alt="User Pic" src="/media/{{ object.profilePicture.imagefile }}" class="img-rounded"> 
              {% else %}
              <img alt="User Pic" src="/media/images/smiley.png" class="img-rounded">
              {% endif %}
      <div class="caption">
        <h3>{{object}}</h3>
        <p><a class="btn btn-danger btn-responsive" href="{% url 'prototypeApp:remove_friend' object.id %}" onclick="return confirm('Are you sure you want to unfriend {{object}}?')"> Unfriend </a></p>
        <!--<p>No Additional Information</p>-->
    </div>
  </div>
</div>
{% endblock display %}
{% block otherwise %}
  <p> You have no friends! </p>
{% endblock otherwise %}
