{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} {{event}} {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/event.css" %}" rel = "stylesheet">
{% endblock %}

{% block header %}
<li>
  <a href="/prototypeApp/">Home</a>
</li>
<li>
  <a href="/prototypeApp/group">Groups</a>
</li>
<li>
  <a href="/prototypeApp/people">Friends</a>
</li>
{% endblock %}   

{% block content %}
  <!-- Jumbotron Header -->
  <div class="jumbotron hero-spacer">
      <h1>{{event}}</h1>
      <p>{{event.starttime}} -- {{event.endtime}}</p>
      <p>Location: {{event.location|default:"TBD"}}</p>
      <p>Description: {{event.description|default:"TBD"}}</p>

      {% if user_in_event %}
      <p><a class="btn btn-danger btn-large" href = "{% url 'prototypeApp:leave_event' event.id %}">Leave</a></p>
      {% else %}
      <p><a class="btn btn-success btn-large" href = "{% url 'prototypeApp:join_event' event.id %}">Join</a>
      <a class="btn btn-danger btn-large" href = "{% url 'prototypeApp:decline_event' event.id %}">Decline</a>
      </p>
      {% endif %}

      </p>
  </div>

  <hr>
  {% include "prototypeApp/collectionFriendsInEvent.html" with objects=event.members.all numCol=6 %}
{% endblock %}

