{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} Change password {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/index.css" %}" rel = "stylesheet">
  <link href = "{% static "prototypeApp/profile.css" %}" rel = "stylesheet">
{% endblock %}

{% block header %}
{% include "prototypeApp/header.html" with event_count=pending_event_count friend_count=pending_friend_count location="" %}
{% endblock %}

{% block content %}
<h1> Please change password here </h1>
{% endblock %}