{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} {{user.person.name}}'s profile {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/index.css" %}" rel = "stylesheet">
  <link href = "{% static "prototypeApp/profile.css" %}" rel = "stylesheet">
{% endblock %}

{% block header %}
{% include "prototypeApp/header.html" with event_count=pending_event_count friend_count=pending_friend_count location="" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">My Profile</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> 
              {% if user.person.profilePicture.imagefile %}
              <img alt="User Pic" src="/media/{{ user.person.profilePicture.imagefile }}" class="img-rounded"> 
              {% else %}
              <img alt="User Pic" src="/media/images/smiley.png" class="img-rounded">
              {% endif %}
            </div>
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>User name:</td>
                    <td>{{user.person.name}}</td>
                  </tr>
                  <tr>
                  <tr>
                    <td>Email:</td>
                    <td>{{user.email}}</td>
                  </tr>
                  </tr>
                  <tr>
                  <tr>
                    <td>Receive Reminders:</td>
                    <td>
		       <form action="{% url 'prototypeApp:profile' %}" method="post" id="formsubmit"> 
			 {% csrf_token %}
			 <input type="checkbox" name='receive_reminders' value="receive_reminders" onChange="$('#formsubmit').submit()" {% if receive_reminders %}checked{% endif %}>
		      </form>
                    </td>
                  </tr>
                  </tr>
                </tbody>
              </table>
              <!-- <a href="#" class="btn btn-primary">Upload profile picture?</a> -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Upload Profile Picture</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="LDI-event-form">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header" id="dialog-box-head">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="exampleModalLabel">Upload Profile Picture</h4>
                        </div>
                        <div class="LDI-dialog-box">
                          <div class="modal-body">
                            <form class="form-horizontal" action="{% url "prototypeApp:profile" %} " method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <p>{{ form.non_field_errors }}</p>
                              <p>{{ form.imagefile.label_tag }} {{ form.imagefile.help_text }}</p>
                              <p>
                              {{ form.imagefile.errors }}
                              {{ form.imagefile }}
                              </p>
                              <p> <input class="btn btn-sm btn-primary" id="uploadSubmit" type="submit" value="Upload"></p>
                          </form>
                          </div> 
                        </div>           
                      </div>
                    </div>
                  </div>
                </div>
              <a href="/prototypeApp/password_change" class="btn btn-primary">Change Password</a>
            </div>
          </div>
        </div>

             <!-- <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

