
{% load staticfiles %}

<html lang="en">
  <head>

    <!-- Latest compiled and minified CSS -
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">



    <link href = "{% static "prototypeApp/index.css" %}" rel = "stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css">

-->




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>  

<script type="text/javascript" src="{% static "prototypeApp/jquery.tokeninput.js" %}"></script>


<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.tokeninput/1.6.0/styles/token-input.css">

<script type="text/javascript">
        $(document).ready(function() {
            $("#input-facebook-theme").tokenInput("friend/search", {
                theme: "facebook"
            });
        });
</script>

   

</head>


  <body>
    <form>
      <div class="col-sm-8" id="text-box">
        <input type="text" class="form-control" id="tokenfield-1" value="red,green,blue" name="friends" placeholder="Type something and hit enter" data-showAutocompleteOnFocus=true/>
      </div>  

 <h2 id="theme">Facebook Theme</h2>
    <div>
        <input type="text" id="input-facebook-theme" name="blah2" />
        <input type="button" value="Submit" />
    </div>

    </form>
  </body>
</html>