{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} {{event}} {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/event.css" %}" rel = "stylesheet">
{% endblock %}

{% block header %}
<li>
  <a href="/prototypeApp/">Home</a>
</li>
<li>
  <a href="/prototypeApp/group">Groups</a>
</li>
<li>
  <a href="/prototypeApp/people">Friends</a>
</li>
{% endblock %}   

{% block content %}
  <!-- Jumbotron Header -->
  <div class="jumbotron hero-spacer">
      <h1>{{event}}</h1>
      <p>{{event.starttime}} -- {{event.endtime}}</p>
      <p>Location: {{event.location|default:"TBD"}}</p>
      <p>Description: {{event.description|default:"TBD"}}</p>

      {% if user_in_event %}
      <p><a class="btn btn-primary btn-large" href = "{% url 'prototypeApp:leave_event' event.id %}">Leave</a></p>
      {% else %}
      <p><a class="btn btn-primary btn-large" href = "{% url 'prototypeApp:join_event' event.id %}">Join</a></p>
      {% endif %}

      </p>
  </div>

  <hr>
{% endblock %}

{% block collection-title %}
  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h2>Friends in this event</h2>
      </div>
  </div>
  <!-- /.row -->
{% endblock %}  

{% block collection-components%}
  <!-- Page Features -->
  {% if event.members.all %}
  <div class="row text-center">
      {% for person in event.members.all %}
      {% cycle 1 2 3 as colnumber silent %}
      {% if colnumber == 1 %}
        </div>
        <div class="row text-center">    
      {% endif %}
      <div class="col-md-4 col-sm-4 hero-feature">
          <div class="thumbnail">
              <!--<img src="http://placehold.it/800x500" alt="">-->
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.0.50.50/p50x50/10273790_863021053712471_3108083773334663757_n.jpg?oh=a86d3fd928e9fd4fc7295969c4f33f83&oe=55D83A1E&__gda__=1436444448_f9e91c9f48371d2a7113f7970020cd04" alt="">
              <div class="caption">
                  <h3>{{person}}</h3>
                  <p>Creator of the event?</p>
                  <p>Time of joining this event?</p>
                  <p>Display personal comments regarding this event?</p>
                  <p>
                      <a href="#" class="btn btn-primary">Say Hi!</a> <a href="#" class="btn btn-default">His/her events?</a>
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <p> No friends are currently going to this event. </p>
  {% endif %}
  <!-- /.row -->
{% endblock %}






