{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} {{event}} {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/event.css" %}" rel = "stylesheet">
{% endblock %}

{% block header %}
<li>
  <a href="/prototypeApp/">Home</a>
</li>
<li>
  <a href="/prototypeApp/group">Groups</a>
</li>
<li>
  <a href="/prototypeApp/people">Friends</a>
</li>
{% endblock %}   

{% block content %}
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
      <h1>{{event}}</h1>
      <p>{{event.starttime}} -- {{event.endtime}}</p>
      <p>Location</p>
      <p>Description</p>
      <p><a class="btn btn-primary btn-large">Join</a>
      </p>
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h3>Friends in this event</h3>
      </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  {% if event.person_set.all %}
  <div class="row text-center">
      {% for person in event.person_set.all %}
      <div class="col-md-2 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img src="http://placehold.it/800x500" alt="">
              <div class="caption">
                  <h3>{{person}}</h3>
                  <p>Creator of the event?</p>
                  <p>Time of joining this event?</p>
                  <p>Display personal comments regarding this event?</p>
                  <p>
                      <a href="#" class="btn btn-primary">Say Hi!</a> <a href="#" class="btn btn-default">His/her events?</a>
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <p> No friends are currently going to this event. </p>
  {% endif %}
  <!-- /.row -->
{% endblock %}






