{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} Let's Do It! {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/index.css" %}" rel = "stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css">
  <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'prototypeApp/jquery.datetimepicker.css' %}">
  

  <!-- The extra stuff for the event-form -->
  {{ form.media }}
{% endblock %}
{% block customjs %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
  <script src="{% static "prototypeApp/twitter-typeahead.js" %}"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

  <script type="text/javascript">
    var d = new Date();
    d.setMinutes (d.getMinutes() + 60);
    d.setMinutes (0);
    $('#datetimepicker_start_time').datetimepicker({
      defaultDate: d,
      //onChangeDateTime:  function(current_time,$input){ alert(current_time);}
    });
    d.setMinutes (d.getMinutes() + 60);
    $('#datetimepicker_end_time').datetimepicker({
      defaultDate: d,
    });
  </script>
  <script type="text/javascript">
    // Tokenizers for inviting friends when creating events
    $('#tokenfield').tokenfield({
      autocomplete: {
        source: {{friends_list|safe}},
        delay: 100
      },
      showAutocompleteOnFocus: true
    })

    $('#tokenfield').tokenfield().on('tokenfield:createdtoken', function(e) {
      var tokens = $(this).tokenfield('getTokens');
      $('#friendids').val( JSON.stringify(tokens));
      console.log(tokens); 
    });

    // Prevents duplicate tokens
    $('#tokenfield').on('tokenfield:createtoken', function (event) {
      //console.log({{friends_list|safe}});
      var existingTokens = $(this).tokenfield('getTokens');
      //console.log(existingTokens);

      $.each(existingTokens, function(index, token) {
          if (token.value === event.attrs.value)
              event.preventDefault();
      });
    });

    // Prevents non-existing tokens (doesn't work with bloodhound_tokens)
    $('#tokenfield').on('tokenfield:createtoken', function (event) {
      var available_tokens = {{friends_list|safe}};
      var exists = true;
      $.each(available_tokens, function(index, token) {
          if (token.value === event.attrs.value)
              exists = false;
      });
      if(exists === true)
          event.preventDefault();
      //console.log("Attrs:")
      //console.log(event.attrs)
    })

    // Disables the submission of form upon pressing "Enter"
    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });

  </script>
  <style type="text/css">
  .ui-front {
      z-index: 1000;
  }

  </style>
{% endblock %}

{% block header %}
  <li class="active">
    <a href="/prototypeApp/">Home</a>
  </li>
  <li>
    <a href="/prototypeApp/group">Groups</a></li>
  </li>
  <li>
    <a href="/prototypeApp/people">Friends</a>
  </li>
{% endblock %}
{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Let's Do It!</h1>
  <p class="lead">To propose an event to your friends, click CREATE EVENTS</p>
  <p class="lead">
    <!--<a href="#" class="btn btn-lg btn-danger">I'M FREE</a>-->
    <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#exampleModal">CREATE EVENT</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="LDI-event-form">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="dialog-box-head">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Event</h4>
            </div>
            <div class="LDI-dialog-box">
              <div class="modal-body">
                <form  class="form-horizontal" action="/prototypeApp/" method="POST" >
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="event-name" class="col-sm-4">Event name:</label>
                    <div class="col-sm-8" id="text-box">
                      <input name="name" type="text" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="starttime" class="col-sm-4">Start time:</label>
                    <div class="col-sm-8" id="text-box">
                      <!--{{ form.starttime }}-->
                      <input id="datetimepicker_start_time" name="starttime" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="endtime" class="col-sm-4">End time:</label>
                    <div class="col-sm-8" id="text-box">
                      <input id="datetimepicker_end_time" name="endtime" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="location" class="col-sm-4">Location:</label>
                    <div class="col-sm-8" id="text-box">
                      <input name="location" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description" class="col-sm-4">Description:</label>
                    <div class="col-sm-8" id="text-box">
                      <input name="description" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="friends" class="col-sm-4">Friends</label>
                    <div class="col-sm-8" id="text-box">
                      <!-- <input type="text" class="form-control" id="tokenfield-typeahead" value="red,blue" placeholder="Type in the names of your friends"/> -->
                      <input type="text" name="friends" class="form-control" id="tokenfield" placeholder="Type in the names of your friends"/>
                    </div>
                  </div>
                  <!--<BR>&nbsp;<BR> -->
                  <div class="LDI-submit-button">
                    <input class="btn btn-sm btn-success" id="submit" type="submit" value="Create ">
                  </div>
                </form>
              </div> 
            </div>           
          </div>
        </div>
      </div>
    </div>
  </p>
</div>
{% include "prototypeApp/collectionEventTypes.html" with numCol=6 objects=event_list event_type="Your Events" message="Details/Leave"%}
{% include "prototypeApp/collectionEventTypes.html" with numCol=6 objects=invited_event_list event_type="Pending Invitations" message="Details/Join"%}
{% include "prototypeApp/collectionEventTypes.html" with numCol=6 objects=friend_event_list event_type="Friend's Events" message="Details/Join"%}
{% endblock %}


