{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block title %} Let's Do It! {% endblock %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/index.css" %}" rel = "stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css">

  <!-- The extra stuff for the event-form -->
  {{ form.media }}
{% endblock %}
{% block customjs %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#tokenfield-1').tokenfield({
          autocomplete: {
              source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
              delay: 100
          },
          showAutocompleteOnFocus: true
      });
      $('#tokenfield-1').on('tokenfield:createtoken', function (event) {
          var available_tokens = bloodhound_tokens.index.datums
          var exists = true;
          $.each(available_tokens, function(index, token) {
              if (token.value === event.attrs.value)
                  exists = false;
          });
          if(exists === true)
              event.preventDefault();
      });
      $('#tokenfield-1').on('tokenfield:createtoken', function (event) {
          var existingTokens = $(this).tokenfield('getTokens');
          $.each(existingTokens, function(index, token) {
              if (token.value === event.attrs.value)
                  event.preventDefault();
          });
      });
      var engine = new Bloodhound({
        local: [{value: 'red'}, {value: 'blue'}, {value: 'green'} , {value: 'yellow'}, {value: 'violet'}, {value: 'brown'}, {value: 'purple'}, {value: 'black'}, {value: 'white'}],
        datumTokenizer: function(d) {
          return Bloodhound.tokenizers.whitespace(d.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace
      });

      engine.initialize();

      $('#tokenfield-1').tokenfield({
        typeahead: [null, { source: engine.ttAdapter() }]
      });
    });
  </script>

{% endblock %}

{% block header %}
  <li class="active">
    <a href="/prototypeApp/">Home</a>
  </li>
  <li>
    <a href="/prototypeApp/group">Groups</a></li>
  </li>
  <li>
    <a href="/prototypeApp/people">Friends</a>
  </li>
{% endblock %}
{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Let's Do It!</h1>
  <p class="lead">To see what your friends are doing, click I'M FREE.</p>
  <p class="lead">To propose an event to your friends, click CREATE EVENTS</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-danger">I'M FREE</a>
    <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#exampleModal">CREATE EVENTS</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="LDI-event-form">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="dialog-box-head">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">New Event</h4>
            </div>
            <div class="LDI-dialog-box">
              <div class="modal-body">
                <form  class="form-horizontal" action="/prototypeApp/" method="POST" >
                  {% csrf_token %}

                  <div class="form-group">
                    <label for="event-name" class="col-sm-4">Event name:</label>
                    <div class="col-sm-8" id="text-box">
                      {{ form.name }}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="starttime" class="col-sm-4">Start time:</label>
                    <div class="col-sm-8" id="text-box">
                      {{ form.starttime }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="endtime" class="col-sm-4">End time:</label>
                    <div class="col-sm-8" id="text-box">
                      {{ form.endtime }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="friends" class="col-sm-4">Friends</label>
                    <div class="col-sm-8" id="text-box">
                      <input type="text" class="form-control" id="tokenfield-1" value="red,green,blue" name="friends" placeholder="Type something and hit enter"/>
                    </div>
                  </div>
                  <!--<BR>&nbsp;<BR> -->
                  <div class="LDI-submit-button">
                    <input class="btn btn-sm btn-success" id="submit" type="submit" value="Create ">
                  </div>
                </form>
              </div> 
            </div>           
          </div>
        </div>
      </div>
    </div>
  </p>
</div>
{% endblock %}

{% block collection-title %}
  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h2>Events</h2>
      </div>
  </div>
  <!-- /.row -->
{% endblock %}

{% block collection-components%}
  <!-- Page Features -->
  {% if event_list %}
  <div class="row text-center">
    {% for event in event_list %}
      {% cycle 1 2 3 4 5 6 as colnumber silent %}
      {% if colnumber == 1 %}
        </div>
        <div class="row text-center">    
      {% endif %}
      <div class="col-md-2 col-sm-2">
        <div class="thumbnail">
          <h3>
            {{event.name}}
          </h3>
          <p>
            {{event.starttime}}-{{event.endtime}}
          </p>
          <div>
            other people
          </div>                    
          <p>
            <a class="btn" href="{% url 'prototypeApp:event' event.id %}">Edit</a>              
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
  <p> No events are available. </p>
  {% endif %}
  <!-- /.row -->
{% endblock %}

