{% extends "prototypeApp/base.html" %}
{% load staticfiles %}

{% block custominclude %}
  <link href = "{% static "prototypeApp/index.css" %}" rel = "stylesheet">
{% endblock %}

{% block header %}
  <nav>
    <ul class="nav masthead-nav">
      <li><a href="/prototypeApp/index">Home</a></li>
      <li><a href="/prototypeApp/group">Groups</a></li>
      <li class="active"><a href="#">Friends</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="inner cover">
    <h1 class="cover-heading">Let's Do It!</h1>
  </div>
  {% if friends_list %}
    <div class="event-panel">
      <h2>
        Friends
      </h2>
      <div class="container">
        <div class="row clearfix">
          {% for person in friends_list %}          
            <div class="group-box">  
              <h3>
                {{person.name}}
              </h3>
              <p>
                <a class="btn" href="#">Edit</a>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
      <p>You have no friends. Would you like to add some?</p>
  {% endif %}
{% endblock %}