{% extends "prototypeApp/baseloggedout.html" %} 
{% load staticfiles %}

{% block custominclude %}    
<link href = "{% static "prototypeApp/login.css" %}" rel = "stylesheet">
{% endblock %}

{% block title %} Register For Let's Do It! {% endblock %}
{% block content %}
  <form class="form-signin" action="{% url 'prototypeApp:register' %}" method="post">
    {% csrf_token %}
    
    <h2 class="form-signin-heading">Sign up now!</h2>
    <h5 class="form-signin-heading"> {{state}} </h5>
    
    <label for="email" class="sr-only">Email</label>
    <input type="email" name="email" class="form-control" value="{{email}}" placeholder="abc@letsdoit.com" required autofocus>
    

    <label for="username" class="sr-only">User name</label>
    <input type="username" name="username" class="form-control" value="{{username}}" placeholder="User name" required autofocus>
    
    <label for="password" value="{{password}}"class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Register me</button>
  </form>
  <p class="other-links"> <a href="/prototypeApp/login">Already have an account? Sign in.</a> </p>
{% endblock %}